<%= form_for(@department) do |f| %>
  <% if @department.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@department.errors.count, "error") %> prohibited this department from being saved:</h2>

      <ul>
      <% @department.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :department_name %><br>
    <%= f.text_field :department_name %>
  </div>
  <div class="field">
    <%= f.label :insa %><br>
    <%= f.select :insa, Insa.all.map { |u| [u.name] }, { :prompt => "Please Select" }%>
  </div>
  <div class="field">
    <%= f.label :creation_date %><br>
    <%= f.date_select :creation_date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
