.container
  .margin
    .row
      .col-sm-3
        .well.text-center.margin
          %h3 Mon Profile
          = image_tag current_user.profile_user.avatar.url, class: %w{image-rounded margin}, width: '80%'
          = link_to 'Editer', :edit_profile
        .margin.text-center
          = link_to 'INSA Lyon', 'https://www.insa-lyon.fr'
      .col-sm-9
        %form#new-post.margin{method: :post,action: wall_path}
        = form_tag wall_path, method: :post, class: 'margin' do
          .form-group
            %textarea.form-control{placeholder: 'Ecrire un post ...', name: 'content'}
          %button.btn.btn-block.btn-default{type: 'submit'} Poster
        - @posts.each do |post|
          = render partial: 'post', locals: {post: post}