<p id="notice"><%= notice %></p>

<h1>Listing Insas</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Location</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @insas.each do |insa| %>
      <tr>
        <td><%= insa.name %></td>
        <td><%= insa.location %></td>
        <td><%= link_to 'Show', insa %></td>
        <td><%= link_to 'Edit', edit_insa_path(insa) %></td>
        <td><%= link_to 'Destroy', insa, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Insa', new_insa_path %>
