%nav.navbar.navbar-inverse
  .container-fluid
    .navbar-header
      %button.navbar-toggle{"data-target" => "#myNavbar", "data-toggle" => "collapse", :type => "button"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %img.img.pull-left{:alt => "INSA", :height => "50", :src => asset_url('insa.jpg'), :width => "50"}
      = link_to root_path do
        #brand.navbar-brand
          ShareYourINSA
    #myNavbar.collapse.navbar-collapse
      - if user_signed_in?
        .navbar-form.navbar-left
          .form-group
            %input#find_area.form-control{placeholder:'Rechercher un INSAïen'}
      %ul.nav.navbar-nav.navbar-right
        = navbar_item 'Actualités', wall_path if user_signed_in?
        = navbar_item 'Profile', profile_path if user_signed_in?
        - if current_user.nil?
          %li
            = link_to new_user_session_path do
              %span.glyphicon.glyphicon-log-in
              Login
        - else
          %li
            = link_to destroy_user_session_path, method: :delete do
              %span.glyphicon.glyphicon-log-out
              Logout