<div class="col-sm-12 sidenav" id="profile">
  <header id="header" class="text-center">
    <img src="<%= @profile_user.avatar.url %>" class="img-circle" alt="T-Rex" width="150" height="150">
    <h2><%= @profile_user.first_name %> <%= @profile_user.last_name%>
      <% if can?(:edit, @profile_user) && @profile_user.user == current_user %>
          <%= link_to edit_profile_path do  %>
            <h5 style="display: inline"><i class="glyphicon glyphicon-pencil glyphicon-white"></i></h5>
          <% end -%>
      <% end %></h2>
    <h4><%= @profile_user.company_name %></h4>
    <%- if @profile_user.location %>
    <p><%= @profile_user.location %></p>
    <% end -%>
  </header>
</div>