<div class="col-sm-8">
  <h4><small>RECENT POSTS</small></h4>
  <hr>
  <% @posts.each do |post| %>
      <h2><%= @posts.title %></h2>
      <h5><span class="glyphicon glyphicon-time"></span> <%= @profile_user.post.created_at %></h5>
      <h5><span class="label label-danger">Food</span> <span class="label label-primary">Ipsum</span></h5><br>
      <%= post.content %>
  <% end %>
  <hr />

  <h2>Your posts</h2>
  <div id="new-post-section" class="panel panel-default">
    <div class="panel-heading">Add a post</div>
    <div class="panel-body">
      <%= form_tag({action: :new_post}) do -%>
          <div class="form-group ">
            <div class="row">
              <div class="col-md-12">
                <label for="new_post_content" class="hide"></label>
                <textarea id="new_post_content" class="form-control col-md-8" rows="3" name="post[content]" required></textarea>
              </div>
            </div>
          </div>
          <div class="col-md-4 pull-right" style="height:100%">
            <button type="submit" class="btn btn-success btn-block col-md-4" style="height:100%">Post</button>
          </div>
      <% end -%>
    </div>
  </div>
  <div id="your-posts-section">
    <% @posts.each do |post| %>
        <div class="panel panel-default">
          <% if post.title %>
              <div class="panel-heading">
                <%= post.title %>
              </div>
          <% end %>
          <div class="panel-body">
            <%= post.content %>
          </div>
          <div class="panel-footer text-right">
            <div class="text-right">
              <span class=""><i class="glyphicon glyphicon-time"></i> <%= post.created_at %></span>
            </div>
          </div>
        </div>

    <% end %>
  </div>


  <!--
  <form role="form">

    <button type="submit" class="btn btn-success">Post</button>
  </form>
  -->
</div>